---
layout: master
title: Blog
full_posts: 5
---
<div class='home_box' id='home_left'>
{% for post in site.posts %}
  {% if forloop.index < page.full_posts %}
  <div>
    <span class='date'>{{post.date | date_to_string}}</span>
    <h1 id='title'><a href='{{post.url}}'>{{post.title}}</a></h1>
    <div class='body' id='post_content_overflow'>{{post.content}}</div>
    <BR>
    <a href='{{post.url}}#disqus_thread'>View Comments</a>
  </div>
  <br/>
  {% else %}
{% if forloop.index == page.full_posts %}
  <h3>全部文章</h3>
  <table class='post-list'>
  {% endif %}
    <tr>
      <th><a href='{{ post.url }}'>{{ post.title }}</a></th>
      <td>{{ post.date | date_to_string }}</td>
      <td><a href='{{post.url}}#disqus_thread'>Comments</a></td>
    </tr>
  {% endif %}
{% endfor %}
</table>
</div>
<div class='home_box' id='home_right'>
  <h2>最新文章</h2>
  <div id='github-projects'>
    <div class="repo">  
      {% for post in site.posts limit:page.lastest_posts %}
        <div class='post'>
          <div class='body'><a href='{{post.url}}' style="font-size:0.9em">{{post.title}}</a></div>
        </div>
      {% endfor %}
    </div>
  <div>
  <h2>热点文章</h2>
  <div id='lastest-comments'>
    <div class="repo">
      <div id="popularthreads" class="dsq-widget"><script type="text/javascript" src="http://congmo.disqus.com/popular_threads_widget.js?num_items=10"></script></div>
    </div>  
  </div>
  <h2>近期评论</h2>
  <div id='lastest-comments'>
    <div class="repo">
      <div id="recentcomments" class="dsq-widget"><script type="text/javascript" src="http://congmo.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=24&excerpt_length=20"></script></div>
    </div>  
  </div>
  <h2>友情链接</h2>
  <div id='github-projects'>
    <div class="repo">  
      <div class='post'>
        <div class='body'><li><a target='_blank' href='http://coolshell.cn/' style='font-size:14px' >  酷 壳  </a></li></div>
      </div>
    </div>
  </div>
</div>