---
layout: master
full_posts: 1
lastest_posts: 10
---

<div class='home_box' id='home_left' style='margin-left:0.3em'>
{% for post in paginator.posts %}
  <div class="posts">
    <span class='date'>{{ post.date | date_to_string }}</span>
    <h1 id='title'><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h1> 
    <div class="body">
      <div id="post_content_overflow">{{ post.content }}</div>
      <div class='quick-read-more'><a href='{{post.url}}'>阅读全文...</a></div>
    </div><br />
    </div>
    {% endfor %}

  {% if paginator.total_pages > 1 %}
    <div class='wp-pagenavi'>
      <span class='pages'>Total Pages:{{ paginator.total_pages }}</span>
      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <span class='current'>{{ page }}</span>
        {% else %}
          <a href='/{%if page > 1 %}page{{ page }}/{% endif %}'>{{ page }}</a>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</div>