---
layout: master
title: Michael Bleigh on the Web
full_posts: 5
lastest_posts: 10
---

<div class='home_box' id='home_left'>
  <h2><a href='/atom.xml' class='float-right' target='_blank'><img src='/images/subscribe-icon.gif' alt='Subscribe'/></a> <a href='/blog.html'>全部文章</a></h2>
  {% for post in site.posts limit:page.full_posts %}
  <div class='post'>
    <span class='date'>{{post.date | date_to_string}}</span>
    <h1><a href='{{post.url}}'>{{post.title}}</a></h1>
    <div class='body' id="post_content">{{post.content}}</div>
    <br/>
    <a href='{{post.url}}#disqus_thread'>View Comments</a>
  </div>
  {% endfor %}
</div>
<div class='home_box' id='home_right'>
  <h2>最新文章</h2>
  <div id='github-projects'>
    <div class="repo">  
      {% for post in site.posts limit:page.lastest_posts %}
        <div class='post'>
          <div class='body'><a href='{{post.url}}' style="font-size:14px">{{post.title}}</a></div>
        </div>
      {% endfor %}
    </div>
  <div>
  <h2>热点文章</h2>
  <div id='lastest-comments'>
    <div class="repo">
      <div id="popularthreads" class="dsq-widget"><script type="text/javascript" src="http://congmo.disqus.com/popular_threads_widget.js?num_items=10"></script></div>
    </div>  
  </div>
  <h2>近期评论</h2>
  <div id='lastest-comments'>
    <div class="repo">
      <div id="recentcomments" class="dsq-widget"><script type="text/javascript" src="http://congmo.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=24&excerpt_length=20"></script></div>
    </div>  
  </div>
  <h2>友情链接</h2>
  <div id='github-projects'>
    <div class="repo">  
      <div class='post'>
        <div class='body'><li><a target='_blank' href='http://coolshell.cn/' style='font-size:14pt' >  酷 壳  </a></li></div>
      </div>
    </div>
  </div>
</div>