---
layout: master
---
<section class="articles">
  {% for post in paginator.posts %}
    <article>
      <h3 id='title'><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3> 
      <p class="byline">Posted on {{ post.date | date: "%d %B %Y" }}</p>
        <div id="post_content_overflow">
          {{ post.content }}
        </div>
        <br>
        <a href='{{post.url}}' class="readmore">Read Post</a>
    </article>
  {% endfor %}
  
  {% if paginator.previous_page %}
    {% if paginator.page == 2%}
      <a href="/" class="backto">← Newer entries</a>
    {% else %}
      <a href="/{%if paginator.page > 1 %}page{{ paginator.previous_page }}/{% endif %}" class="backto">← Newer entries</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="forwardto">Older entries &rarr;</a>
  {% endif %}
</section>
         