<div>
<span id='category-name'>
	<h1>Category:{{ page.name }}</h1>
</span>
<div class='separator'></div>
<br />
<div id='category-post'>
	{% for post in site.categories[page.name] %}
		<div id='post-entry'>
			<a id='post-title' href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
			<span id='post-date' style="float:right">{{ post.date | date_to_string }}</span>
			<div>
				<p class="separator"></p>
			</div><br />
		</div>
	{% endfor %}
</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){ 
   		document.getElementById('home_right').innerHTML='';
	}); 
</script>


