body {

  font-family: Arial,/*'Microsoft YaHei',*/Verdana,"BitStream vera Sans",Tahoma,Helvetica,Sans-serif;
  letter-spacing: 0em;
  background: #B0B0B0;
  margin: 0;
  padding: 0;
  font-size: 14px;
  border-bottom-color: #999;
}

a {
  color: #583;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #260;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 5em;
  padding: 0;
  -moz-border-radius-bottomleft: 0.4em;
  -webkit-border-bottom-left-radius: 0.4em;
  -moz-border-radius-bottomright: 0.4em;
  -webkit-border-bottom-right-radius: 0.4em;
  background: #EEE;
}

#header {
  height: 120px;
}
#header h1 {
  float: left;
}

#header h1 a {  
  margin-top: 10px;
  margin-left:20px;
  display: block;
  background: url(/images/title.png) no-repeat top left;
  width: 405px;
  height: 80px;
  text-indent: -999em;
}

#menu {
  float: right;
}

#menu ul {
  list-style: none;
  text-align: center;
  margin-top: 10px;
  margin-right: 40px;
}

#menu ul li {
  display: block;
  float: left;
  margin-left: 10px;
}

#menu ul li a {
  display: block;
  background: url(/images/blog.gif) no-repeat top left;
  width: 69px;
  height: 94px;
  text-indent: -999em;
}

#menu ul li a#twitter_link { background-image: url(/images/weibo.gif); }
#menu ul li a#github_link { background-image: url(/images/github.gif); }
#menu ul li a#home_link { background-image: url(/images/home.gif); }

#content {
  padding-top: 0.5em;
}

#content h2 {
  margin: 0 0 0.5em 0;
  color: black;
  font-size: 1.2em;
}

#content p {
  line-height: 22px;
}

span.date {
  background: #6e9b20 url(/images/green_gradient.gif) repeat-x top;
  display: block;
  padding: 0.4em 0.6em 0.5em;
  font-weight: bold;
  color: white;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;  
  -moz-box-shadow: 1px -1px 5px rgba(0,0,0,0.4);
  -webkit-box-shadow: 1px -1px 5px rgba(0,0,0,0.4);
  box-shadow: 1px -1px 5px rgba(0,0,0,0.4);    
  float: left;
  text-shadow: black 1px 1px 4px;
}

#date{
  background: #6e9b20;
  padding: 0.4em 0.6em 0.5em;
  margin-left: 0.3em;
  font-weight: bold;
  color: white;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;  
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-box-shadow: 1px -1px 5px rgba(0,0,0,0.4);
  -webkit-box-shadow: 1px -1px 5px rgba(0,0,0,0.4);
  box-shadow: 1px -1px 5px rgba(0,0,0,0.4); 
}
div.post {
  margin-bottom: 0.5em;
  color: #333;
}

.post h1 {
  margin-top: 0.2em;
}

.post h1 a, #content h2, #footer {
  text-decoration: none;
  clear: left;
  display: block;
  color: black;
  padding: 0.3em 0.5em;
  margin: 0 0 0.2em 0;
  font-weight: bold;
  background: #f8f8f8 url(/images/header_gradient.gif) repeat-x bottom;
  -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  font-weight: normal;
  color: #000;
  z-index: 10000;
}

div.post h3 {
  color: black;
  margin: 1em 0 0.7em 0;
  font-weight: normal;
  font-size: 1.17em;
}

pre {
  background: #002B36 url('/images/noise.png?1326348058') top left;
  border: 1px solid #05232B;
  border-radius: 0.4em;
  color: #93A1A1;
  font-size: 13px;
  khtml-border-radius: 0.4em;
  line-height: 1.45em;
  margin-bottom: 2.1em;
  moz-border-radius: 0.4em;
  ms-border-radius: 0.4em;
  o-border-radius: 0.4em;
  overflow: auto;
  padding: .8em 1em;
  webkit-border-radius: 0.4em;
}

table.post-list {
  width: 100%;
  border-collapse: collapse;
}

table.post-list a {
  color: #262;
  font-weight: bold;
}

table.post-list th {
  text-align: left;
}

table.post-list td, table.post-list th {
  padding: 0.5em 0.3em;
  border-bottom: 1px solid #ddd;
}

table.post-list tr:last-child td, table.post-list tr:last-child th {
  border-bottom: 0;
}

div.related {
  margin-bottom: 2em;
}

#footer {
  background-position: top;
  margin: 2em auto 1em;
  width: 960px;
  height: 30px;
  color: #444;
  font-size: 0.9em;
  padding: 0.5em 0;
  text-align: center;
  text-shadow: #D9D9D9 0 1px;
  -moz-border-radius-bottomleft: 0.4em;
  -webkit-border-bottom-left-radius: 0.4em;
  -moz-border-radius-bottomright: 0.4em;
  -webkit-border-bottom-right-radius: 0.4em;
}

#footer p{
  vertical-align: baseline;
  color: #888;
  margin: 0 0 0 0.2em;
}

#footer a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.home_box {
  float: left;
}

#content .home_box h2 {
  background: #6e9b20 url(/images/green_gradient.gif) repeat-x bottom;
  padding: 0.3em 0.5em;
  border-bottom: 3px solid #262;
  margin-bottom: 0em;
  color: white;
  font-weight: normal;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;  
  -moz-box-shadow: 1px 0px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 0 5px rgba(0,0,0,0.5);
  box-shadow: 1px 0 5px rgba(0,0,0,0.5);
}

#content .home_box h2 a {
  font-weight: normal;
}

#content .home_box .post h1 {
  margin-top: 0;
}

.home_box h2 a {
  color: white;
  margin: 0 0.2em;
}

#home_left {
  width: 680px;
}

#title{
  margin: 0;
}

#title a{
  font-size:0.6em;
  text-decoration: none;
  clear: left;
  display: block;
  padding: 0.3em 0.5em;
  margin: 0 0 0.2em 0;
  font-weight: bold;
  background: #F8F8F8 url(/images/header_gradient.gif) repeat-x bottom;
  -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  color: #583;
}
#navigater{
  background: #E0E0E0 url(/images/header_bg.gif) repeat-x bottom;
  height:12px;
  margin: 0;
  padding: 0;
  margin-bottom:5px;
}
#post_content{
  padding:0.5em;
  background: #FFF;
}

#post_content li{
  line-height: 22px;
  padding-left: 22px;
  margin-top: 5px;
}

#home_right,#home_right_1 {
  width: 260px;
  margin-left: 0.8em;
}

.clearfix { clear: both;}

code {
  font-size: 1em;
  font-family: "Consolas","Courier New",Courier,monospace;
}

.home_box .post h1 a {
  font-size: 0.6em;
}

.repo {
  text-decoration: none;
  clear: left;
  display: block;
  color: black;
  padding: 0.5em 0.7em;
  margin: 0 0 0.8em 0;
  font-weight: bold;
  background: #f8f8f8 url(/images/header_gradient.gif) repeat-x bottom;
  -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  font-weight: normal;
  color: #000;
  z-index: 10000;
  font-size: 0.9em;
}

.repo li{
  background: url(/images/icons.gif) 0 -557px no-repeat;
  line-height: 22px;
  padding-left: 22px;
  list-style: none;
  text-align: -webkit-match-parent;
}

.repo h3 {
  margin: 0 0 0.3em 0;
}
.repo h3 a {
  font-weight: normal;
  color: #426a25;
  text-decoration: none;
  letter-spacing: 0;
  font-size: 1.2em;
}

#github-projects.big .repo {
  float: left;
  width: 25.2em;
  margin: 1.2em 1em 0 0;
  display: inline-block;
  float: none;
  vertical-align: top;
}
#lastest-comments.big .repo {
  float: left;
  width: 25.2em;
  margin: 1.2em 1em 0 0;
  display: inline-block;
  float: none;
  vertical-align: top;
} 
#github-projects .repo .post .body a{ 
  display:block;/*内联对象需加*/ 
  width:16em; 
  word-break:keep-all;/* 不换行 */ 
  white-space:nowrap;/* 不换行 */ 
  overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */ 
  text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/ 
}

#latest-comments .repo .post .body a{ 
  display:block;
  width:16em; 
  word-break:keep-all;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

#post_content_overflow {
  height: 289px;
  display:block;/*内联对象需加*/ 
  overflow:hidden;
  padding:0.5em;
  background: #FFF;
}

#contiue{
  padding:0.5em;
  background: #FFF;
  font-size:14px;
}

#blog_content{
  height: 289px;
  display:block;/*内联对象需加*/ 
  overflow:hidden;  
}

.float-left { float: left; }
.float-right { float: right; }

a img { border: 0; }

.highlight{ overflow: auto; } 

a#gotop {
  background-color: #CCC;
  border-radius: 10px 10px 10px 10px;
  bottom: 50px;
  display: block;
  font-family: Arial;
  right: 10px;
  line-height: 46px;
  margin-right: 0;
  padding: 10px 0;
  position: fixed;
  text-align: center;
  width: 60px;
  _position: absolute;
  _bottom: auto;
  _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)) - 10);
}

a#gotop em.tr {
  display: block;
  font-size: 74px;
  height: 27px;
  margin: 0 0 0 2px;
  padding: 0;
  padding-left: 9px;
  overflow: hidden;
  text-align: left;
  width: 40px;
}

a#gotop em {
  color: #EEE;
}

a#gotop span {
  cursor: pointer;
}

a#gotop .tube {
  display: block;
  font-size: 30px;
  height: 20px;
  margin: -10px 0 0 5px;
  padding: 0;
  padding-left: 9px;
  overflow: hidden;
  text-align: left;
  width: 40px;
}

a#gotop:hover em {
  color: white;
}