
---
layout: master-left
title: Tags
---

<div>
	{% for tag in page.tags %}

		<span id='category-name'>
			<h1>{{ tag }}</h1>
		</span>

		<div class='separator'></div><br />

		<div id='category-post'>

			{% for post in site.tags[tag] %}

				<div id='post-entry'>
					<a id='post-title' href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
					<span id='post-date' style="float:right">{{ post.date | date_to_string }}</span>
					<div class='separator'>
					</div>
				</div>

			{% endfor %}
			
		</div>
	{% endfor %}
</div>